n8n/workflows/BlackSynapse.json
{
  "name": "AtlasAI",
  "nodes": [
    {
      "parameters": {
        "content": "## ASR \nGet Audio -> Call ASR -> RAG Pipeline",
        "width": 230
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        0
      ],
      "typeVersion": 1,
      "id": "9659f580-4bc9-4c4d-aff7-1b769e6f04e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG Pipeline\nLLM w/Memory and Vector Database"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        112
      ],
      "typeVersion": 1,
      "id": "aa95887b-c933-4360-97fd-c1c078b00855",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## TTS\nPOST Into TTS API -> Speaker"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        112
      ],
      "typeVersion": 1,
      "id": "f65a88b2-b3be-40c4-afac-70c773d2790c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger Node\nDetects a new recording from open wake word POSTs the file into Whisper.",
        "width": 214
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "6a123a89-34a3-40a4-8533-cb70251d9027",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/play?epoch=0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1248,
        304
      ],
      "id": "ef5b8057-ba15-4bd5-b0e9-6a95c43b45a0",
      "name": "Speaker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text || $json.chatInput }}",
        "options": {
          "systemMessage": "You are a \"Atlas\" CU Denver tour guide assistant.\n\nTool usage policy (MANDATORY):\n- For every user question that asks for factual info about CU Denver (locations, services, admissions, programs, policies, hours, parking, deadlines, contacts, events), you MUST call the tool `cu_denver_search` before answering.\n- If retrieval returns no relevant results, say: \"I couldn't find that in the CU Denver knowledge base\" and ask a clarifying question.\n- Make sure to shorten responses \n- make them listenable not readable. Example, don't read punctuation.\n- Make sure that the query key for the vector database is \"input\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        304
      ],
      "id": "cc56ca52-2621-4352-8df7-7280aadaef29",
      "name": "LLM - Ollama 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        512
      ],
      "id": "1d8154db-ffd1-487c-a69a-f117518ea3db",
      "name": "When chat message received",
      "webhookId": "cb6a87a3-ce5e-4c22-97fc-f400ae98092f"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/asr",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "followSymlinks": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "121f569c-948e-4806-9d6b-d8b7d8688e4d",
      "name": "Local File Trigger",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Speaker API\nTakes the TTS Output and Plays it in the native speaker"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        96
      ],
      "typeVersion": 1,
      "id": "9b7724ed-527f-4014-aa4e-d807340ed9d1",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "3331b17c-d95d-46e3-b24f-401ecda13082",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8002/transcribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        208
      ],
      "id": "789aca45-a6b5-46c6-96a3-fc0d31b2c9f4",
      "name": "ASR: Whisper",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"model\": \"kokoro\",\n        \"input\": \"{{ $json.output.replace(/\\r?\\n|\\n/g, '').replace(/\\\\n/g, '') }}\",\n        \"voice\": \"af_heart\",\n        \"response_format\": \"wav\",\n        \"speed\": 1.2,\n        \"stream\": false\n      }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        304
      ],
      "id": "d6e6fd12-2687-406b-8329-37b95a08a926",
      "name": "TTS: Kokoro",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        816,
        880
      ],
      "id": "769c894f-dfdb-4e0e-b21a-be8fa0b9ff12",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "os3dc9gZDOKRh5fG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "PetrosStav/gemma3-tools:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        512,
        672
      ],
      "id": "f17f1a0b-c83e-431e-a76d-281f1c9139d2",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "os3dc9gZDOKRh5fG",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with cu_denver_search to retrieve CU Denver relevant data",
        "qdrantCollection": {
          "__rl": true,
          "value": "cu_denver_database",
          "mode": "list",
          "cachedResultName": "cu_denver_database"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        816,
        704
      ],
      "id": "67e11a05-f334-445a-8aa1-0a1a9b2d63bd",
      "name": "cu_denver_search",
      "credentials": {
        "qdrantApi": {
          "id": "CXmycrYaqDrVYSwz",
          "name": "QdrantApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "ASR: Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASR: Whisper": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Kokoro": {
      "main": [
        [
          {
            "node": "Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "cu_denver_search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cu_denver_search": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Ollama 3": {
      "main": [
        [
          {
            "node": "TTS: Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84f9f3d6-e71d-4835-8de1-ca408e283e5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "FkUOUdG6wR4wAYWl",
  "tags": []
}