n8n/workflows/MainWorkflow.json
{
  "name": "MainWorkflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/play",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        304
      ],
      "id": "f39aaee1-681b-473a-afab-d2d5d60d8b7c",
      "name": "Speaker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => { try { return $('ASR: Whisper').first().json.text; } catch(e) { try { return $('When chat message received').first().json.chatInput; } catch(e2) { return ''; } } })() }}",
        "options": {
          "systemMessage": "=You are an AI assistant with live vision and access to a Perception tool for detailed visual analysis.\n\nCurrent visual context (from JSON state):\nPeople seen: {{ JSON.stringify($json.faces || []) }}\nScene: {{ $json.scene_caption || $json.scene_memo || 'No scene data available.' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        672,
        304
      ],
      "id": "1c6b6692-adb6-4c6c-ac8e-997c310d1da5",
      "name": "LLM - Ollama 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/asr",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "followSymlinks": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        208
      ],
      "id": "b3c09957-cd6a-42b6-9040-d22bc8d42c9c",
      "name": "Local File Trigger",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "e6e21089-6d2e-4d91-9c0a-afb41a3c872b",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8002/transcribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        208
      ],
      "id": "7eb9d5f4-3eed-4216-a860-c03624d58d39",
      "name": "ASR: Whisper",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"model\": \"kokoro\",\n        \"input\": \"{{ $json.output.replace(/\\r?\\n|\\n/g, '').replace(/\\\\n/g, '') }}\",\n        \"voice\": \"af_heart\",\n        \"response_format\": \"wav\",\n        \"speed\": 1.2,\n        \"stream\": false\n      }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        304
      ],
      "id": "ffbbb956-bc60-4bfb-ba26-bd71b7ffffe8",
      "name": "TTS: Kokoro",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        672,
        720
      ],
      "id": "1db9e4a6-4cda-481a-b999-f70621591fbd",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "PRBswlHkOo3NGyVP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen2.5:7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        528,
        624
      ],
      "id": "72783096-e5ca-47d0-87e2-e5f03917c3f0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PRBswlHkOo3NGyVP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with cu_denver_search to retrieve CU Denver relevant data",
        "qdrantCollection": {
          "__rl": true,
          "value": "cu_denver_database",
          "mode": "list",
          "cachedResultName": "cu_denver_database"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        672,
        544
      ],
      "id": "282ee539-d5be-4a35-bbbc-e8813864f02f",
      "name": "cu_denver_search"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        304,
        480
      ],
      "id": "3ea07bca-dbf6-4db9-a88b-16466314bbd1",
      "name": "When chat message received",
      "webhookId": "4dde8d39-32d0-4624-8870-f5b12aec5858"
    },
    {
      "parameters": {
        "description": "Call this tool for a detailed on-demand visual analysis of the current scene",
        "workflowId": {
          "__rl": true,
          "value": "bQySjhmvT3I9JYUv",
          "mode": "list",
          "cachedResultUrl": "/workflow/bQySjhmvT3I9JYUv",
          "cachedResultName": "Perception"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        944,
        544
      ],
      "id": "d3932d85-8db2-414a-a38d-140c429d2554",
      "name": "Perception"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8089/state",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        208
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Get Vision State"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "ASR: Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASR: Whisper": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vision State": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Kokoro": {
      "main": [
        [
          {
            "node": "Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "cu_denver_search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cu_denver_search": {
      "ai_tool": [
        []
      ]
    },
    "LLM - Ollama 3": {
      "main": [
        [
          {
            "node": "TTS: Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perception": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b47cdfb-157c-41f8-94cd-af42c886f664",
  "meta": {
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "GiQ0B2LGpp3dtXUn",
  "tags": []
}
