n8n/workflows/MainWorkflow(1).json
{
  "name": "MainWorkflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => { try { return $('ASR: Whisper').first().json.text; } catch(e) { try { return $('When chat message received').first().json.chatInput; } catch(e2) { return ''; } } })() }}",
        "options": {
          "systemMessage": "=You are Lynx, an AI assistant on a SPOT robot at CU Denver. You help people on campus using real-time perception and CU Denver databases. Give brief responses that are informative, no need to keep rambling (only 2-3 sentences).Only answer CU Denver-related questions. For anything else: \"I'm specialized for CU Denver — anything campus-related I can help with?\" PERCEPTION You have real-time vision. Your current scene and detected people are provided below in CURRENT CONTEXT. Use this proactively — greet people by name if recognized, and reference your surroundings naturally when relevant. TOOLS - cu_denver_faculty_search → any question about a specific person (faculty, staff, researchers) input: {\"input\": \"search text\"} - cu_denver_search → everything else (buildings, programs, admissions, events, policies) input: {\"input\": \"search text\"} - register_face → when someone tells you their name or introduces themselves. Call immediately when you hear a name. input: {\"name\": \"their name\"} If both person + topic → call both tools. RULES - Use they/them for unknown gender. - If tools don't answer it: \"Try contacting [office] or ucdenver.edu directly.\" - Offer \"Want me to send more details?\" for complex topics. - After calling register_face, always use the exact text in the \"suggest_reply\" field of the response as your reply — do not paraphrase it. CURRENT CONTEXT Time: {{ $json.current_time || 'unknown' }} Day: {{ $json.day_of_week || 'unknown' }} Location: {{ $json.location || 'Unknown' }} People: {{ JSON.stringify($json.faces || []) }} Scene: {{ $json.scene_caption || $json.scene_memo || 'No scene data.' }} {{ $json.personalization_context || '' }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1872,
        96
      ],
      "id": "ee9074fd-f150-44b2-a4b2-28ab1bb63e95",
      "name": "LLM - Ollama 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/asr",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "followSymlinks": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        0
      ],
      "id": "5619c5ae-0426-46ba-818b-c9326338b905",
      "name": "Local File Trigger",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Local File Trigger').item.json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "9da2bf7d-9b5d-411c-8d3c-6fda75163284",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8002/transcribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        0
      ],
      "id": "83a6ebce-2a66-4b26-9a8d-6461e7bb847f",
      "name": "ASR: Whisper",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: \"kokoro\",\n  input: ($json.output ?? \"\").replace(/\\r?\\n|\\n/g, \"\").replace(/\\\\n/g, \"\"),\n  voice: \"af_heart\",\n  response_format: \"wav\",\n  speed: 1.2,\n  stream: false\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2368,
        -80
      ],
      "id": "b6e083c0-1b54-46b7-b597-f269d2b5d4cc",
      "name": "TTS: Kokoro",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with cu_denver_search to retrieve CU Denver relevant data",
        "qdrantCollection": {
          "__rl": true,
          "value": "=cu_denver_database",
          "mode": "id"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1952,
        352
      ],
      "id": "793aa67c-a78e-4f9b-b601-0ee7d07b3816",
      "name": "cu_denver_search",
      "credentials": {
        "qdrantApi": {
          "id": "vdwnc0pwGtihOBJ4",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        880,
        336
      ],
      "id": "a19f2ec0-3d96-42db-82e9-29eda224b8fc",
      "name": "When chat message received",
      "webhookId": "4dde8d39-32d0-4624-8870-f5b12aec5858"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:8089/state",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        32
      ],
      "id": "74d5e66b-6a0f-4162-854d-212743e9f83b",
      "name": "Get Vision State"
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst now = new Date();\nreturn {\n  ...state,\n  current_time: now.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' }),\n  day_of_week: now.toLocaleDateString('en-US', { weekday: 'long' }),\n  date: now.toLocaleDateString('en-US')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        64
      ],
      "id": "7348f585-c73e-43ab-b7d9-4ce5bd8a86e7",
      "name": "Enrich with Time"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with cu_denver_faculty_search to retrieve faculty information",
        "qdrantCollection": {
          "__rl": true,
          "value": "cu_denver_database",
          "mode": "list",
          "cachedResultName": "cu_denver_database"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "searchFilterJson": "{\n  \"must\": [\n    {\n      \"key\": \"metadata.type\",\n      \"match\": { \"value\": \"faculty_profile\" }\n    }\n  ]\n}",
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2208,
        352
      ],
      "id": "8cef2d87-4a9c-4661-8bac-9621c9333322",
      "name": "cu_denver_faculty_search",
      "credentials": {
        "qdrantApi": {
          "id": "vdwnc0pwGtihOBJ4",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8001/interrupt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        0
      ],
      "id": "4f76f270-0b9f-4810-ab5d-e1b5f75cba65",
      "name": "Speaker1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58d181a3-5b4d-439e-b53e-16a0294706b8",
              "name": "epoch",
              "value": "={{$json.epoch}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        0
      ],
      "id": "f9966ef7-a18a-4729-a5e6-6a025891bb59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8001/play?epoch={{ $('Edit Fields').item.json.epoch }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2672,
        96
      ],
      "id": "b85904ed-49f5-4d98-9eee-2dca1c27a190",
      "name": "Speaker"
    },
    {
      "parameters": {
        "name": "register_face",
        "toolDescription": "Register the name of the person currently visible on the camera. Call this as soon as someone tells you their name or introduces themselves. The camera will automatically capture their face. Input: {\"name\": \"the person's name\"}",
        "method": "POST",
        "url": "http://172.17.0.1:8089/register-face",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"name\": \"{{ $fromAI('name', 'The name of the person to register') }}\"}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1696,
        576
      ],
      "id": "c4a1e2d3-8f5b-4c7a-9e6d-1b2a3c4d5e6f",
      "name": "register_face"
    },
    {
      "parameters": {
        "model": "qcwind/qwen2.5-7B-instruct-Q4_K_M:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1504,
        576
      ],
      "id": "b252453a-628f-4768-9c78-e6acc48de2ca",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "AwGMI8niI1XmeTCb",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1760,
        400
      ],
      "id": "13d6d483-51a4-473a-9e10-f154ee4595bb",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "DL9GGNBBfcClANZa",
          "name": "Azure Open AI account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://elyas-mnaw1b8b-northcentralus.cognitiveservices.azure.com/openai/deployments/tts/audio/speech?api-version=2025-03-01-preview",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "tts"
            },
            {
              "name": "input",
              "value": "={{ $json.output }}"
            },
            {
              "name": "voice",
              "value": "alloy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        96
      ],
      "id": "aff6617d-8fde-4bc4-b077-00505894f51a",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "blY4StZyWF2qcPXO",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "dimensions": "={{ 768 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2208,
        544
      ],
      "id": "d508599c-28a7-4d25-a71e-e6491d275084",
      "name": "Embeddings Azure OpenAI1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Ko2Q2Nobq7qn6mb2",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {
          "dimensions": "={{ 768 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1968,
        560
      ],
      "id": "6d174a1a-cf19-4bcd-af14-e4a7b3330f47",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "Ko2Q2Nobq7qn6mb2",
          "name": "Azure Open AI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "ASR: Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASR: Whisper": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vision State": {
      "main": [
        [
          {
            "node": "Enrich with Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Time": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Kokoro": {
      "main": [
        []
      ]
    },
    "LLM - Ollama 3": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "register_face": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cu_denver_search": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cu_denver_faculty_search": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Speaker1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Speaker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "cu_denver_faculty_search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "cu_denver_search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc1de289-7eaa-49c5-8760-29e0f673be01",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "nnUwdasr9lONP31c",
  "tags": []
}