n8n/workflows/MainWorkflow.json
{
  "name": "MainWorkflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/play",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        -176
      ],
      "id": "52472d6e-52ed-4a19-a170-70611d6f41ba",
      "name": "Speaker"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ (() => { try { return $('ASR: Whisper').first().json.text; } catch(e) { try { return $('When chat message received').first().json.chatInput; } catch(e2) { return ''; } } })() }}",
        "options": {
          "systemMessage": "=You are Lynx, an AI assistant deployed on a SPOT robot at the University of Colorado Denver.\n\nYour role is to interact naturally with people on campus, answer questions about CU Denver, and provide helpful real-world assistance using both perception and the cu_denver_search database.\n\nYou have access to two tools:\n\n--------------------------------------------------\n1. Perception Tool\nUse this tool when you need detailed visual information about the environment.\nUse it when: someone asks what you see, who is nearby, about objects/activities/events, or to verify visual information before responding.\n\n--------------------------------------------------\n2. cu_denver_search (CU Denver Knowledge Database)\nThis tool retrieves information from the cu_denver_search vector database. Use it for: campus buildings, departments, professors, events, student services, directions, university policies, research labs, programs/majors, hackathons, clubs, organizations.\n\nIMPORTANT: When calling cu_denver_search, you MUST provide the search text in a field called \"input\". Example: {\"input\": \"computer science programs at CU Denver\"}. Do NOT use \"query\" or other field names.\n\n--------------------------------------------------\nGreeting\n- When People seen contains someone with a name other than \"Unknown\", greet them by name in your first response (e.g., \"Hi Elyas!\").\n- If everyone is Unknown, use a general friendly greeting.\n\n--------------------------------------------------\nNatural acknowledgments (use when appropriate)\n- Before answering: \"Let me check...\", \"Good question!\", \"Sure.\"\n- When using Perception: \"Let me take a look.\"\n- When using cu_denver_search: \"Let me find that for you.\"\n- When uncertain: \"I'm not entirely sure, but...\"\n- Brief filler: \"Well, ...\" \"So, ...\" End with \"Anything else?\" when natural.\n\n--------------------------------------------------\nTurn-taking\n- Start with a brief acknowledgment when appropriate: \"Let me check...\", \"One moment...\", or \"Good question!\"\n\n--------------------------------------------------\nBehavior\n- Speak naturally. Be concise but friendly.\n- If you don't know something, say so honestly.\n- Use cu_denver_search for campus questions; Perception for environment questions; combine both when relevant.\n- You are physically present on campus; reference what you see.\n\n--------------------------------------------------\nCurrent context\n\nTime: {{ $json.current_time || 'unknown' }}\nDay: {{ $json.day_of_week || 'unknown' }}\n\nPeople seen:\n{{ JSON.stringify($json.faces || []) }}\n\nScene description:\n{{ $json.scene_caption || $json.scene_memo || 'No scene data available.' }}\n\n{{ $json.personalization_context ? 'Personalization:\\n' + $json.personalization_context : '' }}\n\n--------------------------------------------------\nWhen responding: consider visual context, retrieve from cu_denver_search when relevant, provide the most helpful answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        496,
        -176
      ],
      "id": "93953f56-4f34-4692-99a6-ecd1cce776af",
      "name": "LLM - Ollama 3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/asr",
        "events": [
          "add",
          "change"
        ],
        "options": {
          "followSymlinks": true,
          "usePolling": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -272
      ],
      "id": "ac610e54-41a2-41d0-bd7c-fc926f31d999",
      "name": "Local File Trigger",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -400,
        -272
      ],
      "id": "ece9d78a-6ea1-43e3-af2e-2d378e31da36",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8002/transcribe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -272
      ],
      "id": "192d4eb3-228d-4987-9afe-d27d0aab9ec0",
      "name": "ASR: Whisper",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n        \"model\": \"kokoro\",\n        \"input\": \"{{ $json.output.replace(/\\r?\\n|\\n/g, '').replace(/\\\\n/g, '') }}\",\n        \"voice\": \"af_heart\",\n        \"response_format\": \"wav\",\n        \"speed\": 1.2,\n        \"stream\": false\n      }",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        -176
      ],
      "id": "4e1443a8-9ac3-4c66-b206-99b9e5111b34",
      "name": "TTS: Kokoro",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        496,
        256
      ],
      "id": "df647819-16e0-49ae-862f-7457a55c47bd",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "PRBswlHkOo3NGyVP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qcwind/qwen2.5-7B-instruct-Q4_K_M:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        352,
        160
      ],
      "id": "55c9ccd1-8983-41a6-bf5b-d314f3188e0f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PRBswlHkOo3NGyVP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with cu_denver_search to retrieve CU Denver relevant data",
        "qdrantCollection": {
          "__rl": true,
          "value": "cu_denver_database",
          "mode": "list",
          "cachedResultName": "cu_denver_database"
        },
        "topK": 8,
        "includeDocumentMetadata": false,
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        496,
        80
      ],
      "id": "ad2f7a4a-56f0-40f1-a94e-685ac01f9627",
      "name": "cu_denver_search"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        64
      ],
      "id": "ffcadf8c-838f-409d-92c3-bce7b35c1aab",
      "name": "When chat message received",
      "webhookId": "4dde8d39-32d0-4624-8870-f5b12aec5858"
    },
    {
      "parameters": {
        "description": "Call this tool for a detailed on-demand visual analysis of the current scene",
        "workflowId": {
          "__rl": true,
          "value": "bQySjhmvT3I9JYUv",
          "mode": "list",
          "cachedResultUrl": "/workflow/bQySjhmvT3I9JYUv",
          "cachedResultName": "Perception"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        768,
        80
      ],
      "id": "f784137a-a2cd-43c8-a6d3-5466a632141b",
      "name": "Perception"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8089/state",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -224
      ],
      "id": "9c45ef14-4f9f-4590-ac09-e4e94bc9bb27",
      "name": "Get Vision State"
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst now = new Date();\nreturn {\n  ...state,\n  current_time: now.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit' }),\n  day_of_week: now.toLocaleDateString('en-US', { weekday: 'long' }),\n  date: now.toLocaleDateString('en-US')\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -224
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Enrich with Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8089/proactive-interaction",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -352
      ],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Record Interaction"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "ASR: Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ASR: Whisper": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vision State": {
      "main": [
        [
          {
            "node": "Enrich with Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Record Interaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Time": {
      "main": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Kokoro": {
      "main": [
        [
          {
            "node": "Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "cu_denver_search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM - Ollama 3": {
      "main": [
        [
          {
            "node": "TTS: Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perception": {
      "ai_tool": [
        [
          {
            "node": "LLM - Ollama 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40719dde-b13f-49b6-905d-2598c8ff4246",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "GiQ0B2LGpp3dtXUn",
  "tags": []
}