n8n/workflows/old_workflow.json
{
    "name": "AtlasAI",
    "nodes": [
      {
        "parameters": {
          "content": "## ASR \nGet Audio -> Call ASR -> RAG Pipeline",
          "width": 230
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          352,
          0
        ],
        "typeVersion": 1,
        "id": "72784100-5712-430c-a2dc-6f0c6145ba4f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## RAG Pipeline\nLLM w/Memory and Vector Database"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          64
        ],
        "typeVersion": 1,
        "id": "ca7f25b8-f5dd-4dca-83d1-b7823351a970",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## TTS\nPOST Into TTS API -> Speaker"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1040,
          96
        ],
        "typeVersion": 1,
        "id": "2c91a9b7-9fb9-4b9f-ac58-94681443b13f",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "## Trigger Node\nDetects a new recording from open wake word POSTs the file into Whisper.",
          "width": 214
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -496,
          16
        ],
        "typeVersion": 1,
        "id": "075dcdaf-626c-4b9c-bceb-9d7332969464",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://172.17.0.1:8001/play?epoch={{ $('Edit Fields').item.json.epoch }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "audio/wav"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1392,
          304
        ],
        "id": "e70e19b9-9c73-40d8-b220-82ecacb90e55",
        "name": "Speaker"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.text || $json.chatInput }}",
          "options": {
            "systemMessage": "You are a \"Atlas\" CU Denver tour guide assistant.\n\nTool usage policy (MANDATORY):\n- For every user question that asks for factual info about CU Denver (locations, services, admissions, programs, policies, hours, parking, deadlines, contacts, events), you MUST call the tool `cu_denver_search` before answering.\n- After calling the tool, answer ONLY using the retrieved snippets.\n- If retrieval returns no relevant results, say: \"I couldn't find that in the CU Denver knowledge base\" and ask a clarifying question.\n- Make sure to shorten responses \n- make them listenable not readable. Example, don't read punctuation.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          736,
          288
        ],
        "id": "dbdcead5-23bc-487e-91f9-3059bc49ef16",
        "name": "LLM - Ollama 3",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          448,
          400
        ],
        "id": "d98558a1-df82-4ce1-b499-aa715564910a",
        "name": "When chat message received",
        "webhookId": "cb6a87a3-ce5e-4c22-97fc-f400ae98092f"
      },
      {
        "parameters": {
          "triggerOn": "folder",
          "path": "/data/asr",
          "events": [
            "add",
            "change"
          ],
          "options": {
            "followSymlinks": true,
            "usePolling": true
          }
        },
        "type": "n8n-nodes-base.localFileTrigger",
        "typeVersion": 1,
        "position": [
          -448,
          208
        ],
        "id": "d6443bcb-807b-4c90-889e-f381ce3204c3",
        "name": "Local File Trigger",
        "retryOnFail": false,
        "alwaysOutputData": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "content": "## Speaker API\nTakes the TTS Output and Plays it in the native speaker"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1360,
          96
        ],
        "typeVersion": 1,
        "id": "7fc7335a-34d2-4346-8215-eac4e2e1eee6",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "fileSelector": "={{ $('Local File Trigger').item.json.path }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          304,
          208
        ],
        "id": "6e6f8643-2d24-40ef-b571-6de63a950237",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://172.17.0.1:8002/transcribe",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "audio/wav"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          480,
          208
        ],
        "id": "6e13a48d-1544-4cce-8118-1a213d6fc056",
        "name": "ASR: Whisper",
        "executeOnce": false
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://172.17.0.1:8880/v1/audio/speech",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n        \"model\": \"kokoro\",\n        \"input\": \"{{ $json.output.replace(/\\r?\\n|\\n/g, '').replace(/\\\\n/g, '') }}\",\n        \"voice\": \"af_heart\",\n        \"response_format\": \"wav\",\n        \"speed\": 1.2,\n        \"stream\": false\n      }",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1168,
          288
        ],
        "id": "bc0692ef-52c7-487a-b9e2-1d650b5812b4",
        "name": "TTS: Kokoro",
        "alwaysOutputData": true,
        "executeOnce": false
      },
      {
        "parameters": {
          "model": "embeddinggemma:latest"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
        "typeVersion": 1,
        "position": [
          880,
          736
        ],
        "id": "413e6085-0bdc-4d59-8323-723bf243d63d",
        "name": "Embeddings Ollama",
        "credentials": {
          "ollamaApi": {
            "id": "NxINASeyN3BElhZ4",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "model": "PetrosStav/gemma3-tools:12b",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          672,
          528
        ],
        "id": "50736484-782e-41b8-b2f1-fa6f4d0db560",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "NxINASeyN3BElhZ4",
            "name": "Ollama account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Work with cu_denver_search to retrieve CU Denver relevant data",
          "qdrantCollection": {
            "__rl": true,
            "mode": "list",
            "value": "cu_denver"
          },
          "includeDocumentMetadata": false,
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          800,
          528
        ],
        "id": "4a83482d-b905-400b-b733-53578faf9a11",
        "name": "cu_denver_search",
        "credentials": {
          "qdrantApi": {
            "id": "ImNwkcn2MksPVD5M",
            "name": "QdrantApi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://172.17.0.1:8001/interrupt",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -192,
          208
        ],
        "id": "545479b2-ca1c-4104-b090-a8c83fac3a82",
        "name": "Speaker1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "58d181a3-5b4d-439e-b53e-16a0294706b8",
                "name": "epoch",
                "value": "={{$json.epoch}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          48,
          208
        ],
        "id": "671bb25a-a651-439c-a99f-ea3b0fa41107",
        "name": "Edit Fields"
      }
    ],
    "pinData": {},
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "LLM - Ollama 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Local File Trigger": {
        "main": [
          [
            {
              "node": "Speaker1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "ASR: Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ASR: Whisper": {
        "main": [
          [
            {
              "node": "LLM - Ollama 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TTS: Kokoro": {
        "main": [
          [
            {
              "node": "Speaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Ollama": {
        "ai_embedding": [
          [
            {
              "node": "cu_denver_search",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "LLM - Ollama 3",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "cu_denver_search": {
        "ai_tool": [
          [
            {
              "node": "LLM - Ollama 3",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "LLM - Ollama 3": {
        "main": [
          [
            {
              "node": "TTS: Kokoro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Speaker1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "37cc489d-2d7e-4684-82cf-8bee32e11ccb",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
    },
    "id": "fof38x5e5j7gQNlF",
    "tags": []
  }