n8n/workflows/Perception.json
{
  "name": "Perception",
  "nodes": [
    {
      "parameters": {
        "model": "moondream:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -304,
        992
      ],
      "id": "5370ec55-425f-4492-b43f-ed9374276848",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PRBswlHkOo3NGyVP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Describe the scene concisely. What objects are visible? What might the person be holding?",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -304,
        736
      ],
      "id": "ebad33aa-2dd2-4995-94f6-41428c11470d",
      "name": "VLM - Moondream",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "img",
              "inputDataFieldName": "=data"
            },
            {
              "name": "actions",
              "value": "[\"gender\"]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        16
      ],
      "id": "0cb1747e-650c-4794-af3f-8214cd23c46e",
      "name": "DeepFace API"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8089/latest",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -688,
        144
      ],
      "id": "d47844fa-f7ed-4d21-8a13-4946d5822f93",
      "name": "Capture Frame"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8089/identify-multi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "data",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        304
      ],
      "id": "54303efa-31ab-4082-a4c1-ecd5d5fbe783",
      "name": "Identify Faces"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        80,
        144
      ],
      "id": "1d1980ce-b244-4ab3-a251-a56daed9172d",
      "name": "Merge 1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        304,
        272
      ],
      "id": "29016ff2-5d19-430c-b43e-245a5ec57915",
      "name": "Merge 2"
    },
    {
      "parameters": {
        "jsCode": "const deepface = $node[\"DeepFace API\"].json;\nconst identifyMulti = $node[\"Identify Faces\"].json;\nconst moondream = $node[\"VLM - Moondream\"].json;\n\nconst results = deepface?.results || [];\nconst identities = identifyMulti?.identities || [];\nconst sceneCaption = moondream?.output || \"No scene description available.\";\n\nconst faces = results.map((r, i) => ({\n  name: identities[i]?.name || \"Unknown\",\n  emotion: r.dominant_emotion || \"neutral\",\n  age: r.age,\n  gender: r.dominant_gender || r.gender,\n  confidence: identities[i]?.confidence ?? 0\n}));\n\nif (faces.length === 0 && identities.length > 0) {\n  identities.forEach((id) => faces.push({ name: id.name, emotion: null, age: null, gender: null, confidence: id.confidence }));\n} else if (faces.length === 0) {\n  faces.push({ name: \"Unknown\", emotion: null, age: null, gender: null, confidence: 0 });\n}\n\nreturn {\n  faces,\n  scene_caption: sceneCaption,\n  updated_at: Date.now() / 1000\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        272
      ],
      "id": "1e174439-8b79-407f-afad-20c35c9a87b1",
      "name": "Build State JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8089/state",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ faces: $json.faces, scene_caption: $json.scene_caption, updated_at: $json.updated_at }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        272
      ],
      "id": "dea10f21-bebb-4fd1-8345-7324c5318a8f",
      "name": "Save State"
    },
    {
      "parameters": {
        "content": "## DeepFace\nDetect face, analyze emotion, age, gender"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -208
      ],
      "typeVersion": 1,
      "id": "dc6c832a-58d7-49a1-aabb-135791fe0a4f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Moondream\nScene caption every 2s"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        1136
      ],
      "typeVersion": 1,
      "id": "cf4a3033-76a9-4238-bb66-9c877c42065d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Identify Faces\nMulti-face identification via embeddings\n(identify-multi returns one identity per face)",
        "height": 144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        480
      ],
      "typeVersion": 1,
      "id": "f0b210bf-8ed4-47b9-960a-4bcf0203fdbe",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Save to JSON\nWrites to perception_state.json"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        80
      ],
      "typeVersion": 1,
      "id": "c691e14d-6aee-4297-8715-8204db5e51d2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -912,
        400
      ],
      "id": "7a2f4c90-6617-4e6f-b277-23851d9342fc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        144
      ],
      "id": "940d7671-d209-4063-8177-5d418e6a47b6",
      "name": "Schedule (every 7s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "VLM - Moondream",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "VLM - Moondream": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DeepFace API": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Capture Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Frame": {
      "main": [
        [
          {
            "node": "DeepFace API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Identify Faces",
            "type": "main",
            "index": 0
          },
          {
            "node": "VLM - Moondream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Faces": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Build State JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build State JSON": {
      "main": [
        [
          {
            "node": "Save State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule (every 7s)": {
      "main": [
        [
          {
            "node": "Capture Frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7024346f-4469-448c-8426-4fda9bcb1588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "id": "bQySjhmvT3I9JYUv",
  "tags": []
}