n8n/workflows/ProactiveGreeting.json
{
  "name": "Proactive Greeting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-400, 0],
      "id": "sched-proactive-001",
      "name": "Every 10 seconds"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8089/state",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-160, 0],
      "id": "http-state-001",
      "name": "Get Vision State"
    },
    {
      "parameters": {
        "jsCode": "const state = $input.first().json;\nconst now = Date.now() / 1000;\nconst faces = state.faces || [];\nconst lastInteraction = state.last_interaction || 0;\nconst lastGreeting = state.last_greeting || 0;\n\nconst hasFaces = faces.length > 0;\nconst noRecentInteraction = (now - lastInteraction) > 30;\nconst noRecentGreeting = (now - lastGreeting) > 60;\nconst shouldGreet = hasFaces && noRecentInteraction && noRecentGreeting;\n\nreturn { json: { shouldGreet, output: 'Hi! Can I help you with something?' } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0],
      "id": "code-check-001",
      "name": "Check If Should Greet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-greet",
              "leftValue": "={{ $json.shouldGreet }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "if-greet-001",
      "name": "Should Greet?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8880/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"input\": \"{{ $json.output }}\",\n  \"voice\": \"af_heart\",\n  \"response_format\": \"wav\",\n  \"speed\": 1.2,\n  \"stream\": false\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [480, -80],
      "id": "tts-kokoro-001",
      "name": "TTS: Kokoro"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/play",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "audio/wav"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [720, -80],
      "id": "speaker-001",
      "name": "Speaker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8089/proactive-greeting-done",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [960, -80],
      "id": "http-done-001",
      "name": "Record Greeting Done"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 10 seconds": {
      "main": [
        [
          {
            "node": "Get Vision State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Vision State": {
      "main": [
        [
          {
            "node": "Check If Should Greet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Should Greet": {
      "main": [
        [
          {
            "node": "Should Greet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Greet?": {
      "main": [
        [
          {
            "node": "TTS: Kokoro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS: Kokoro": {
      "main": [
        [
          {
            "node": "Speaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speaker": {
      "main": [
        [
          {
            "node": "Record Greeting Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "initial",
  "meta": {
    "instanceId": "cf62c18d1d7d43f57771f2639fa7581d7f4995b1fc54b37462680c04da0cf259"
  },
  "tags": []
}
