n8n/workflows/QRCodeAnalyzer.json
{
  "name": "QR Code Analyzer",
  "nodes": [
    {
      "parameters": {
        "content": "## QR Code Analyzer Workflow\nAccepts an image via webhook, sends it to the worker `/analyze/qr` endpoint, decodes QR codes, scrapes URLs or ingests plain text into Qdrant, and returns the result.",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, -80],
      "typeVersion": 1,
      "id": "note-qr-overview",
      "name": "Overview"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-qr",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "position": [240, 200],
      "typeVersion": 2,
      "id": "webhook-qr",
      "name": "QR Image Webhook",
      "webhookId": "qr-analyzer-webhook"
    },
    {
      "parameters": {
        "content": "## Trigger\nPOST an image (multipart `file` field) or JSON `{\"image_base64\": \"...\"}` to this webhook. Optionally include `ingest=false` to decode only.",
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [240, 80],
      "typeVersion": 1,
      "id": "note-trigger",
      "name": "Trigger Note"
    },
    {
      "parameters": {
        "jsCode": "// Determine whether we received a binary file upload or a base64 JSON body.\nconst items = $input.all();\nconst item = items[0];\n\nconst body = item.json.body || item.json;\nconst ingest = body.ingest !== undefined ? body.ingest : true;\n\n// Binary upload path\nif (item.binary && item.binary.file) {\n  return [{\n    json: { mode: 'binary', ingest },\n    binary: { file: item.binary.file }\n  }];\n}\n\n// Base64 path\nif (body.image_base64) {\n  return [{ json: { mode: 'base64', image_base64: body.image_base64, ingest } }];\n}\n\nthrow new Error('No image provided. Send a multipart `file` field or a JSON body with `image_base64`.');"
      },
      "type": "n8n-nodes-base.code",
      "position": [480, 200],
      "typeVersion": 2,
      "id": "code-router",
      "name": "Route Input"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mode }}",
              "value2": "binary"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "position": [700, 200],
      "typeVersion": 1,
      "id": "if-binary",
      "name": "Binary or Base64?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://worker:8000/analyze/qr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "ingest",
              "value": "={{ $json.ingest }}"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "file",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 120],
      "typeVersion": 4.2,
      "id": "http-binary",
      "name": "POST Binary to Worker"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://worker:8000/analyze/qr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_base64",
              "value": "={{ $json.image_base64 }}"
            },
            {
              "name": "ingest",
              "value": "={{ $json.ingest }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "position": [920, 300],
      "typeVersion": 4.2,
      "id": "http-base64",
      "name": "POST Base64 to Worker"
    },
    {
      "parameters": {
        "jsCode": "// Merge responses from both branches into a single item.\nconst item = $input.first();\nreturn [{ json: item.json }];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1140, 200],
      "typeVersion": 2,
      "id": "code-merge",
      "name": "Merge Response"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\n// Build a human-readable summary for the robot / caller.\nconst lines = [\n  `QR codes found: ${result.qr_codes_found}`,\n  `Status: ${result.success ? 'OK' : 'PARTIAL FAILURE'}`,\n  '',\n];\n\nfor (const r of (result.results || [])) {\n  lines.push(`• [${r.content_type.toUpperCase()}] ${r.value}`);\n  if (r.ingested) {\n    lines.push(`  Ingested as ${r.doc_id} (${r.chunks_processed} chunks)`);\n  } else if (r.error) {\n    lines.push(`  Error: ${r.error}`);\n  } else {\n    lines.push('  Not ingested (ingest=false)');\n  }\n}\n\nreturn [{\n  json: {\n    ...result,\n    summary: lines.join('\\n'),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "position": [1360, 200],
      "typeVersion": 2,
      "id": "code-summary",
      "name": "Build Summary"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 207 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1580, 200],
      "typeVersion": 1,
      "id": "respond-webhook",
      "name": "Respond to Caller"
    }
  ],
  "connections": {
    "QR Image Webhook": {
      "main": [
        [{ "node": "Route Input", "type": "main", "index": 0 }]
      ]
    },
    "Route Input": {
      "main": [
        [{ "node": "Binary or Base64?", "type": "main", "index": 0 }]
      ]
    },
    "Binary or Base64?": {
      "main": [
        [{ "node": "POST Binary to Worker", "type": "main", "index": 0 }],
        [{ "node": "POST Base64 to Worker", "type": "main", "index": 0 }]
      ]
    },
    "POST Binary to Worker": {
      "main": [
        [{ "node": "Merge Response", "type": "main", "index": 0 }]
      ]
    },
    "POST Base64 to Worker": {
      "main": [
        [{ "node": "Merge Response", "type": "main", "index": 0 }]
      ]
    },
    "Merge Response": {
      "main": [
        [{ "node": "Build Summary", "type": "main", "index": 0 }]
      ]
    },
    "Build Summary": {
      "main": [
        [{ "node": "Respond to Caller", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
